* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #dfe9f3, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#parent {
  background: white;
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#parent h2 {
  text-align: center;
}

#parent div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: #5c6bc0;
  outline: none;
  box-shadow: 0 0 5px rgba(92, 107, 192, 0.3);
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #5c6bc0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #3949ab;
}
