{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Encryption</title>
    <link rel="stylesheet" href="{% static 'css/decrypt.css' %}">
</head>
<body>

    <textarea class="content-box">Paste the binary array over here...</textarea>
    <div class="submit-button">Convert to String</div>
    
    <script src="{% static 'js/decrypt.js' %}"></script>

</body>
</html>