<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Blogs</title>
  <link rel="stylesheet" href="/styles/blogs.css">
</head>
<body>

  <div class="container">
    <h1>All Blogs</h1>

    <a href="/" class="back-btn">← Back to Home</a>

    <% if (blogs.length === 0) { %>
      <p>No blogs available.</p>
    <% } %>

    <% blogs.forEach(blog => { %>
      <div class="blog-card">
        <h2><%= blog.heading %></h2>
        <p class="date"><%= blog.date %></p>

        <% if (blog.image) { %>
          <img src="<%= blog.image %>" alt="Blog Image">
        <% } %>

        <p class="content"><%= blog.paragraph %></p>
      </div>
    <% }) %>

  </div>

</body>
</html>
